package ${package.Mapper}import com.slm.mybatisplus.mapper.AutoMapper;

;
${package.Entity}
        .${entity};

/**
 * Mapper接口
 *
 * @author ${author}
 * @since ${date}
 */
public interface ${table.mapperName} extends AutoMapper<${entity}> {

}